body {
  padding: 20px;
}
button {
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  border-radius: 6px;
  background-color: cornflowerblue;
  margin-top: 20px;
}

button:hover {
  padding: 10px;
  border: 0px;
  border-radius: 6px;
  background-color: crimson;
  cursor: pointer;
}

small {
  padding: 20px;
  color: darkblue;
}
